<!doctype html>
<html>
  <head>
    <title>Issue #824</title>
    <style>
      body {
        font-size: x-large;
        color: white;
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <p>I'm the footer!</p>
  </body>
</html>