<h1>
  <a href="http://stackoverflow.com/questions/43980674/how-to-display-map-on-pdf-with-wicked-pdf-in-rails">
    how to display map on pdf with wicked_pdf in rails?
  </a>
</h1>

<div>
  <iframe frameborder=0 height=200
  src="https://maps.google.com/maps?q=39.7799637,-86.2731763&hl=es;z=14&output=embed"
  style="border:0;width:100%;margin-bottom:20px"></iframe>
</div>
