<h1>Issue #608</h1>

<p>
  Able to generate a PDF, but I can't able to click on any link. How to activate links in PDF using wicked pdf.
</p>

<p>
  <%= link_to 'Wicked PDF home', 'https://github.com/mileszs/wicked_pdf' %>
</p>

<%= link_to 'Link to PDF version of this page', '/pages/issue_608.pdf' %>
