<h1>Issue #321</h1>

<p>
  It appears the --cover argument has been changed to just cover in recent versions. This means installing recent versions of wkhtmltox to /usr/local/bin and using this gem won't work with a cover specified in the render block.
</p>

<h2>Sub-Heading for Issue #321</h2>

<p>
  Bananas
</p>

<h3>Sub-Sub-Heading for Issue #321</h3>